<div class="container">
	<h1 class="text-primary">Download a File</h1>
</div>

<div class="well container">
	<h1 class="half-margin-top" data-ng-bind="file.name">File Name</h1>
	<p><strong>Size:</strong> <span data-ng-bind="file.size">File Size</span>	|	<strong>Upload Date:</strong> <span data-ng-bind="file.uploadDate">File Date</span></p>

	<a ng-href="file/download/{{fileId}}" target="_blank" class="btn btn-primary btn-lg full-width"><i class="icon-cloud-download"></i> <strong>Download File</strong></a>
</div>