<div class="container">
	<h1 class="text-primary">An easier way to share files</h1>
	<p class="lead">Quickly upload your file, share the link with your friend or colleague, and they are immediately able to download the file without any limiting or waiting! Files are then immediately deleted after they are downloaded by a user.</p>
</div>
<div class="well container text-center">
	<form class="dropzone" data-ng-submit="uploadFile()">
	    <div class="input-group">
	      <input type="file" class="form-control" data-ng-model="file">
	      <span class="input-group-btn">
	        <button class="btn btn-primary" type="submit"><i class="icon-cloud-upload"></i> Upload File</button>
	      </span>
	    </div>
	</form>
</div>