<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<span class="navbar-brand"><i class="icon-cloud-download"></i> Downloadr.io</a>
		</div>
	</div>
</nav>
<div class="jumbotron">
  <div class="container">
    <h2><strong>An easier way to share files</strong></h2>
    <p>Quickly upload your file, share the link with your friend or colleague, and they are immediately able to download the file without any limiting or waiting! Files are then immediately deleted after they are downloaded by a user.</p>
  </div>
</div>
<div class="container">
    <p><a class="btn btn-primary btn-lg"><i class="icon-cloud-upload"></i> Upload a file</a></p>
</div>