<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<a href="/"><span class="navbar-brand"><i class="icon-cloud-download"></i> Downloadr</a>
		</div>
	</div>
</nav>

<main id="main-content" data-ui-view></main>

<footer class="container">
	<p>Downloadr is an open-source solution for easy file sharing. <a href="https://github.com/jakemmarsh/downloadr" target="_blank" title="View on Github">View the source code on Github</a></p>
</footer>